# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=HSM
DB_USER=postgres
DB_PASSWORD=123

# HSM Configuration
HSM_SLOT_ID=0
HSM_TOKEN_LABEL=HSM_Token

# JWT Configuration
JWT_SECRET=your-secret-key

# Server Configuration
HSM_PORT=3002
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=*
